<html>
	<head>
		<title>MJL Django - First Deployment</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div>
			<h1>Something goes here...</h1><br>
			<a href="https://mjldata.com">My homepage</a>
		</div>

		{% for post in posts %}
			<div>
				<p>Published: {{ post.published_date }} </p>
				<h2><a href="">{{ post.title }}</a></h2>
				<p>{{ post.text|linebreaksbr }}</p>
			</div>
		{%  endfor %}

        <div class="jumbotron jumbotron-fluid">

        <iframe width="100%" height="100%" src="https://app.powerbi.com/view?r=eyJrIjoiMWYyMTU4MmMtM2MyOS00MDM4LTg4MWUtMDYzYjEzOWZiNTRjIiwidCI6IjY0ZGQ0Mjk0LTgyNjctNDZjZS05NTE4LWQ5ODI0MTdlNGY0OSJ9" frameborder="0" allowFullScreen="true"></iframe>
        <iframe src="https://jovian.ml/embed?url=https://jovian.ml/marklunch/assignment-02/v/1" title="Jovian Viewer" height="800" width="800" frameborder="0" scrolling="auto"></iframe>
        </div>

	</body>
</html>

