{% load static %}

<html>
	<head>
		<title>MJL Django - First Deployment</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<link rel="stylesheet" href = "{%static 'css/blog.css' %}>
		<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins&display=swap" rel="stylesheet">
	</head>
	<body>
		<div>
			<h1>Something goes here...</h1><br>
			<a href="https://mjldata.com">My homepage...</a>
		</div>

		{% for post in posts %}
			<div>
				<p>Published: {{ post.published_date }} </p>
				<h2><a href="">{{ post.title }}</a></h2>
				<p>{{ post.text|linebreaksbr }}</p>
			</div>
		{%  endfor %}

       

	</body>
</html>

